@font-face {
    font-family: my-font;
    src: url(Figtree-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: my-font;
    font-size: 18rem;
    color: white;
    overflow: hidden;
}

h1 span {
    display: inline-block;
}
